#modal-prepaway {
  display: none !important;
}

#blocker {
  display: none !important;
}

body {
  overflow: auto !important;
}

a[href="https://www.prepaway.com/"] {
  display: none !important;
}

.popup_get-discount {
  display: none !important;
}

.blocked:after {
  background-color: transparent !important;
  position: unset !important;
}
